<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TestSessionTimeout>300000</TestSessionTimeout>
    <TestTimeout>120000</TestTimeout>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- Explicitly enforce Cobertura format so coverage.cobertura.xml is always produced -->
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*.Designer.cs,**/*.g.cs,**/*.g.i.cs,**/GlobalUsings.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
