@model ProductEditViewModel
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>
<partial name="_ProductForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
