<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceCredentials>
    <!-- Add credentials here if needed for private feeds -->
  </packageSourceCredentials>

  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>
